.nav {
    width: 100%;
    background-color: var(--color-bg);
    z-index: 1000;

    &--wrapper {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "logo   menu-button"
        "menu   menu";
        grid-row-gap: 1rem;
        padding: .5rem 0;
        max-width: var(--page-width);
    }

    &__logo {
        grid-area: logo;
        margin-left: 1rem;
    }

    &__button {
        grid-area: menu-button;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1rem;
        
        &__icon {
            transform: rotate(0deg);
            margin-left: .5rem;
            stroke: var(--color-text);
            will-change: transform;
            transition: transform 200ms ease-in-out;
        }

        &.is--collapsed {
            .nav__button__icon {
                transform: rotate(45deg);
            }
        }


    }

    &__menu {
        grid-area: menu;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        padding: .5rem;

        &.is--collapsed {
            display: none;
        }
    
        &__item {
            padding: .125rem .5rem;
            margin-top: .25rem;
            margin-bottom: .25rem;
            margin-left: 1.5rem;
            background-color: var(--color-bg);
            border-radius: var(--corner);

            .link {
                display: flex;
                align-items: center;

                &__icon {
                    margin-right: .5rem;
                }
            }

            &:hover, &.is--active {
                background-color: var(--color-purple);
                color: var(--color-bg);

                .link { 
                    color: inherit; 

                    &__icon {
                        fill: var(--color-bg);
                    }
                }
            }
        }
    }
}

@media (min-width: 730px)  { 
    .nav {
        &--wrapper {
            grid-template-areas: 
            "logo   menu";
        }

        &__button {
            visibility: none;
            display: none;
        }
            
        &__menu {
            flex-direction: row;

            &__item {
                margin-top: 0;
                margin-bottom: 0;
            }

            &.is--collapsed {
                display: flex;
            }
        }
    }
}